.Container {
  padding: 30px 0px 50px 20px;
}
.Controls {
  margin: 0 auto;
  text-align: right;
  padding-right: 90px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.Controls p {
  margin-right: 4px;
  font-weight: bold;
  position: relative;
  top: 7px;
  color: rgb(82, 80, 80);
  font-size: 0.9em;
}
.Controls span {
  cursor: pointer;
  transform: scale(1);
}
.Controls span img:active,
.Controls span img:hover {
  transform: scale(0.96);
}
.Controls span img {
  width: 27px;
}
