.Container {
  margin: 60px auto 0 auto;
}
.Header {
  text-align: left;
  background-color: #17a2b8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
}
.Header p {
  color: white;
  padding-left: 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
.Form {
  width: 40%;
  border: 1px solid #ccc;
  padding: 50px 20px 20px 20px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgb(175, 173, 173);
  position: relative;
}
.FormGroup {
  margin: 0 0 4px 0;
}
.FormGroup label {
  font-size: 0.7em;
  margin: 0;
}
.FormGroup input {
}
.Button {
  width: 100%;
  margin-top: 16px;
}
.Error {
  font-size: 0.8em;
  padding-top: 2px;
  height: 20px;
  color: red;
  margin: 0;
}
@media (min-width: 574px) and (max-width: 991px) {
  .Form {
    width: 60%;
  }
}
@media (max-width: 573px) {
  .Form {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}
