.Filter {
  width: 20%;
  padding: 10px 0 0px 0px;
  background-color: #17a2b8;
  min-height: 100vh;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.Header input {
  font-size: 0.9em;
  padding: 0 0 2px 4px;
  margin: 0;
  width: 85%;
}

.Container {
  margin-bottom: 20px;
  padding-left: 10px;
}
.Container hr {
  background-color: rgb(199, 197, 197);
  margin: 8px 0 8px 0;
}
.Container h6 {
  color: rgb(235, 228, 228);
  font-size: 0.9em;
}

.Actions {
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-transform: capitalize;
}
.Actions input {
  margin-right: 10px;
  cursor: pointer;
}
.Actions label {
  position: relative;
  top: 4px;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* @media (max-width: 767px) {
  .Filter {
    display: none;
  }
} */
