.Container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
}

.Navbar {
  width: 95%;
  height: 100%;
  background-color: rgb(243, 235, 235);
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar input {
  padding-left: 17px;
  border: none;
  margin-right: 5px;
  width: 300px;
}
.Body {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.Products {
  padding-top: 30px;
  width: 80%;
  /* height: 100%; */
  /* border-top: 1px solid #94ecfa; */
}
.ProductCard {
  margin-top: 10px;
}
.NoProductsFound {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NoProductsFound h3 {
  position: relative;
  bottom: 40px;
}
.Type {
  background-color: white;
  border: 1px solid rgb(207, 203, 203);
  padding: 0px 4px 0px 10px;
  margin: 0 0 20px 30px;
  width: 125px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.Type span {
  color: #6c757d;
}
.Icon {
  color: #6c757d;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
.Icon:hover {
  color: red;
}
