.Controls {
  width: 100%;
  background-color: #007bff;
  text-align: right;
  padding-right: 10px;
}
.Controls button {
  background-color: transparent;
  color: white;
  border: none;
}
.Controls button:hover {
  text-decoration: underline;
}
.Empty {
  text-align: center;
}
