.Container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.Navbar {
  width: 95%;
  height: 100%;
  /* background-color: #17a2b8; */
  background-color: rgb(243, 235, 235);
  height: 33px;
  /* margin-bottom: 40px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar input {
  padding-left: 17px;
  border: none;
  margin-right: 5px;
  width: 300px;
}
.Body {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.Products {
  padding-top: 30px;
  width: 80%;
  /* height: 100%; */
  /* border-top: 1px solid #94ecfa; */
}

.NoProductsFound {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NoProductsFound h3 {
  position: relative;
  bottom: 40px;
}
