.Container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Karla", sans-serif;
}
.Products {
  padding-top: 30px;
  width: 80%;
}
.NoProductsFound {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NoProductsFound h3 {
  position: relative;
  bottom: 40px;
}
.Filter {
  display: none;
}
@media (max-width: 1007px) {
  .Container {
    flex-direction: column;
  }
  .Products {
    width: 100%;
  }
  .Filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #17a2b8;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 4px;
  }
  .FilterIcon {
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  label {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
  }
}
